@model Demo.Models.Account

@{
	ViewData["Title"] = "Xóa Tài Khoản Truy Cập";
	Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}
<div class="page-header">
	<div class="header-sub-title">
		<nav class="breadcrumb breadcrumb-dash">
			<a asp-area="Admin" asp-action="Index" asp-controller="Home" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
			<a class="breadcrumb-item" asp-area="Admin" asp-action="Index" asp-controller="AdminAccounts">Danh Tài Khỏa Truy Cập</a>
			<span class="breadcrumb-item active">Xóa Tài Khoản Truy Cập</span>
		</nav>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<h4 class="card-title">Xóa Tài Khoản Truy Cập</h4>
		<div class="table-responsive">
			<table class="product-info-table m-t-20">
				<tbody>
					<tr>
						<td>ID:</td>
						<td class="text-dark font-weight-semibold">@Model.AccountId</td>
					</tr>
					<tr>
						<td>Số Điện Thoại:</td>
						<td>@Model.Phone</td>
					</tr>
					<tr>
						<td>Mật Khẩu:</td>
						<td>@Model.MatKhau</td>
					</tr
					<tr>
						<td>Email:</td>
						<td>@Model.Email</td>
					</tr>
					<tr>
						<td>Quyền:</td>
						<td>@Model.Role.RoleName</td>
					</tr>
					<tr>
						<td>Xác nhận xóa:</td>
						<td>
							<form asp-action="Delete" asp-route-id="@Model.AccountId">
								<input type="hidden" asp-for="AccountId" />
								<input type="submit" value="Xóa" class="btn btn-danger" /> |
								<a asp-action="Index">Back to List</a>
							</form>
						</td>
						
					</tr>

			</table>
		</div>

	</div>
</div>
